.container {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 16px;
  background-color: var(--color-white);
}

.title {
  text-align: center;
  padding: 16px;
  font-size: 28px;
  font-weight: 600;
  border-bottom: 1px solid var(--color-border);
}

.list {
  font-size: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dateItem {
  border-bottom: 1px solid var(--color-border);
}

.dateItem:last-child {
  border-bottom: none;
}

.dateButton {
  width: 100%;
  padding: 16px 20px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dateButton:hover {
  background-color: var(--color-whitesmoke);
}

.timeList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.timeItem {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-top: 1px solid var(--color-whitesmoke);
  justify-content: space-between;
  background-color: var(--color-white);
}

.timeInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tempInfo {
  text-align: right;
  font-weight: 600;
}

.description {
  font-size: 12px;
  color: var(--color-text-light);
}

.time {
  font-size: 20px;
  font-weight: 700;
}